fastapi[all] 
uvicorn 
sqlalchemy
mysqlclient
pymysql 
mysql-connector-python
redis 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 
bcrypt 
python-jose[cryptography] 
python-dotenv
httpx 
pyjwt
google-analytics-data
google-analytics-data_v1beta
PyJWT
python-multipart
authlib