body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    padding: 0rem;  
    text-align: center;
    justify-items: center;
    max-width: 400px;
    width: 100%;
  }

  .app-logo-login {
    max-width: 100px;
    width: 100%;
  }

  .app-title-login {
    font-size: 2.5em;
    font-weight: 900;
    margin: 15px;
  }
  
  h2 {
    color: #000;
    margin-bottom: 1.5rem;
  }
  
  .google-login-button {
    background-color: #ffffff;
    color: #000;
    border: 1px solid;
    border-color: #d4d2d2;
    padding: 13px 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .google-login-button:hover {
    background-color: #E6EEFF;
  }
  
  .google-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  